:root{
    --white-color: #fff;
    --banana-color: #ffcc07;
    --nearblack-color: #101425;
    --darkblue-color:#23286b;
    --cobaltblue-color:#1f499a;
    --brightblue-color:#0000ff;
}

.blog {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;


}

/* .img__box{
    border-color: #fff;
    border-style: dashed solid;
} */
.blog img {
    width: 50vh;
    height: 50vh;
    margin: 10vh;

}


.blog img:hover{
    transform: scale(1.2);
    transition: all 1s;
  }

/* .img__box{
    width:55vh;
    height:55vh; 
    border: dashed solid var(--white-color);
    background-size: 7px 2px;
    overflow: hidden; 

    } */


.blog__box{
    color:white;
     

}


.blog__title{
    color:var(--banana-color);
    margin-top:0px;

}

.blog__dna{
    display: flex;
    align-items: center;
}

.blog__dna p{
    margin-left:1vh;
}

.blog__date{
    margin-right: 2vh;
}
.blog__text{
    margin:5vh;
    width: 100vh;
}

.discover_more{
    color:var(--banana-color)
}

.discover_more:hover{
    text-decoration: underline;
    color:var(--white-color);
    transition: all 1s;
}




/* .ett__brand {

    justify-content: center;
    align-items: flex-start;
  
    max-width: 1600px;
    margin: auto;
  
    padding-top: 5px !important;
  } */
  
  .ett__brand-heading {
    color: #fff;
    font-family: var(--font-family);
    font-size: 21px;
    flex-direction: row;
    align-items: flex-end;
    letter-spacing: 5px;
  } 
  
  .ett__brand-logo {
    flex: 1;
    max-width: 200px;
    min-width: 120px;
    margin: 1rem;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
  .ett__brand section__padding{
      padding-bottom:0px;
  }
/* .triangle-right {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-left: 50px solid var(--color-banana);
    border-bottom: 25px solid transparent;
    float: left;
    margin-right: 2rem;
  } */

.blog__head{
    display: flex;
    align-items: center;
    padding:0px;
}

.blog__head h1{
    margin-left:1vh;
}

.BsFillCaretRightFill {
    color:#ffcc07;
    background-color:var(--banana-color);
}

.blog{
    margin-bottom: 20vh;
}